body {
    margin: 0;
    font-family: Nunito Sans;

}

body * {
    box-sizing: border-box;
}



.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    text-transform: uppercase;
    width: 207px;
    height: 51px;
    cursor: pointer;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;

    color: #FFFFFF;
}
.button_ {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    margin-left: 20px;
    cursor: pointer;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;

    color: #FFFFFF;
}
.button-group {
    margin-top: 41px;
    display: flex;

}

.header {
    background-color: #131313;
    width: 100%;
}
.header-content{
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.header-content ul {
    padding: 0 0 0 0;
    margin-top: 4px;
    margin-bottom: 0;
}

.header-navigation {
    list-style: none;
    display: flex;
    margin-top: 16px;
}
.header-navigatoion_item {

    padding-left: 37px;
    padding: 0 0 0 0;
    font-size: 11px;
    margin-right: 47px;

}
.header-navigatoion_item a {
    text-decoration: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: white;
}

.header-navigatoion_item a:hover {
    color: #E3B873;
}

.header-number {
    margin-right: 12px;
}

.header-number a {
    color: #E3B873;
}

.logo {
    color: #E3B873;
    margin-right: 10px;
}

.container {
    max-width: 1256px;
    margin: 0 auto;

}


.hero {
    background-image: url(../img/image.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7)
}
.hero-container {
    margin-left: 315px;
    position: relative;
    z-index: 1;
}

@media (max-width: 1840px) {
    .hero-container {
        margin-left: 290px;
    }
    
}

@media (max-width: 1670px) {
    .hero-container {
        margin-left: 230px;
    }
    
}

@media (max-width: 1510px) {
    .hero-container {
        margin-left: 190px;
    }
    
}

.title {
    margin: 0;
    font-family: Yeseva One, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 676px;
    height: 105px;
}

.title-sp {
    color: #E3B873;
}

.font1 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    width: 504px;
    height: 89px;
    
}




.line-control {
    justify-content: center;
    text-align: center;
}

.cntainer-completed {
    display: flex;
    justify-content: center;

}

.Completed {
    background: #131313;
    height: 1071px;
    justify-content: center;
    box-sizing: border-box;

}

.content {
   margin-top: 176px;
   display: block;
   margin-right: 50px;
   margin-left: 40px;
}

.navigation-copml {
    display: block;
    margin-top: 107px;
}

.img-nav-compl {
    display: block;
    box-sizing: border-box;
    margin-right: 20px;
}

.comp-ul {
    margin: 0;
    display: flex;
    padding-left: 0;
}
.comp-li {
    list-style: none;
    margin-right: 60px;
    margin-bottom: 30px;
    
}

.comp-li a {
    text-decoration: none;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;

    color: #FFFFFF4D;
}

.comp-li a:hover {
    color: #E3B873;
    text-decoration: underline;
}

.img-nav-compl {
    width: 679px;
    height: 482px;
    margin-top: 15px;

}


.description-copml {
    margin-top: 42px;
    display: flex;
    grid-template-columns: 190px 190px;
    grid-template-rows: 107px 107px;
    column-gap: 2rem;
    width: 321px;

}

.sapn-compl {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;

    color: #FFFFFF;
}

.text-compl {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;

    color: #FFFFFF;

}

h2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    margin-top: 0;

    color: #E3B873;
}

h3 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;

    color: #E3B873;
}

.vector {
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 22px;
    color: white;
}





.line-control_fix h3 {
    color: white;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.line-control_fix {
    text-align: center;
    justify-content: center;
    z-index: 1;
    margin-top: -355px;
    display: block;
}

.title-svg {
    margin-bottom: 0;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 93px;
    margin-bottom: 35px;
}

.sig-in [for=info] {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    display: flex;
}

#input {
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    width: 231px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}

.margin-sig-in {
    margin-right: 49px;
    margin-left: 58px;
}

.first-checkbox {
    margin-top: 39px;
}

.group {
    margin-top: 12px;
    margin-bottom: 31px;
    margin-left: 9px;
    margin-right: 9px;
}

.group__ {
    margin-bottom: 40px;
}

.label {
    cursor: pointer;
    display: grid;
  }
  .checkbox{
    display: none;
  }
  .fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
  }
  .fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
  }
  .checkbox:checked + .fake::before{
    opacity: 1;
  }

.V-control {
    margin-top: 62px;
}

.video-container {
    display: flex;
    justify-content: center;
}

.video {
    background-image: url(../img/image\ 6.jpg);
    height: 434px;
    width: 817px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
    display: block;
    margin-top: 31px;
}

.video-overly {
    height: 434px;
    width: 817px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
}

.video-buttton {
    background: #E3B873;
    border-radius: 50%;
    border: 5px solid transparent;
    width: 85px;
    height: 85px;
    font-size: 33px;
    position: absolute;
    z-index: 3;
    left: 366px;
    top: 174px;
    color: #FFFFFF;
    cursor: pointer;
}





.TYPES-OF-REPAIR {
    text-align: center;
    justify-content: space-around;
}

.TYPES-OF-REPAIR h2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;

    color: #181818;

}

.h2-TYPES-OF-REPAIR {
    margin-top: 147px;
}

.conent-TYPES-OF-REPAIT {
    justify-content: center;
    display: flex;
    box-sizing: border-box;

}

.ul-types-of-repait li {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;

    color: #959595;
}

.ul-types-of-repait p {
    margin-left: -12px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #363636;
}

.cotolog {
    margin-top: 31px;
    display: flex;
    justify-content: center;
}

.cotolog img {
    width: 392px;
    height: 421px;
    padding-right: 21px;
}

.margin-cotolog {
    margin-left: 28px;
}

.container-ul-types-of-repait {
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: -127px;
}

.descriptoin-type {
    height: 286px;
    width: 330px;
    background-color: white;
}

.margin-des {
    margin-left: 66px;
    margin-right: 65px;
}

.m2-types-of-repait-one {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    padding: 17px 21px;
    height: 54px;
    width: 228px;
    text-transform: uppercase;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;


    color: #FFFFFF;
}

.m2-types-of-repait-two {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    padding: 17px 18px;
    height: 54px;
    width: 228px;
    text-transform: uppercase;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;


    color: #FFFFFF;
}

.m2-types-of-repait-three {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    padding: 17px 16px;
    height: 54px;
    width: 228px;
    text-transform: uppercase;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;


    color: #FFFFFF;
}

.conten-TYPES-OF-REPAIR {
    display: flex;
    justify-content: space-around;
    
}

.conten-TYPES-OF-REPAIR-left {
    background-image: url(../img/image\ 6.1.jpg);
    height: 645px;
    width: 703px;
    margin-top: 152px;
}

.conten-TYPES-OF-REPAIR-left p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: start;

    color: #363636;
}

.number-1 {
    display: flex;
    margin-top: 86px;
    margin-bottom: 0px;
    padding-left: 122px;
}

.border-span {
    display: inline-block;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    background: #E3B873;
    border-radius: 100%;
    padding: 16px 17px;
    color: white;
    text-transform: uppercase;
    margin-top: 7px;
}

.two {
    padding: 16px 16px;
}

.three {
    padding: 16px 16px
}

.four {
    padding: 16px 15px; 
}

.white-border {
    background: white;
    border-radius: 100%;
    width: 67px;
    height: 66px;
    display: inline-block;
    margin-right: 17px;
}

.conten-TYPES-OF-REPAIR-right {
    margin-top: 258px;
}

.request {
    width: 506px;
    height: 509px;
    background-color: #131313;
    margin-top: -16px;
    margin-bottom: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pfive {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 28px;
    height: 47px;
    width: 297px;
    margin-bottom: 39px;
}

#phone {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background-color: #131313;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    width: 408px;
    margin-bottom: 48px;
}
label[for="phone"] {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 370px;
}
.soglasie_zwei {
    display: flex;
    margin-top: -50px;
    margin-right: 168px;
}

.label-two {
    cursor: pointer;
}

.two-checkbox {
    margin-top: -20px;
    margin-right: 120px;
}

.text {
    color: white;
}

.textinput {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
}
.button-left-content {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #E3B873;
    width: 213px;
    height: 51px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border: 1px;
    margin-top: 35px;
    margin-left: 200px;
    cursor: pointer;
}

.svinushka {
    display: flex;
    margin-left: 60px;
}

.svinushka p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: start;

    color: #E3B873;

    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}






.relize {
    background-image: url(../img/image\ 5.1.jpg);
    background-size: cover;
    height: 864px;
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-top: 322px;
    position: relative;
    justify-content: center;
    text-align: center;

}

.relize-overly {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.relize-container {
    display: flex;
    z-index: 1;
    width: 1263px; 
}


.relize-left {
    margin-top: 137px;
    text-align: start;
    list-style: none;
    margin-left: 60px;
}

.relize-left h2 {
    margin-bottom: 47px;
}

.li-relize {
    padding-bottom: 15px;
    
}

.li-relize a {
    color: white;
    text-decoration: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;

}

.li-relize a:hover {
    color: #E3B873;
    text-decoration: underline;
}

.relize-right {
    position: absolute;
    z-index: 2;
    display: grid;
    grid-template-columns: auto auto;
    right: 0;
    top: -20px;
    column-gap: 2rem;
    margin-right: 102px;
}

img[src="img/image 5 (1).jpg"] {
    width: 354px;
    height: 557.88px;
}
img[src="img/image 5 (2).jpg"] {
    /* position: absolute;
    left: 587px;
    top: 555px; */
    width: 354px;
    height: 349px;
    margin-top:-140px;

}
img[src="img/image 5 (3).jpg"] {
    width: 354px;
    height: 275px;
    margin-top: 100px;
}
img[src="img/image 5 (4).jpg"] {
    width: 354px;
    height: 624.88px;
    margin-top: -315px;
}




.our-clients {
    justify-content: center;
    min-height: 1109px;


}

.container-our-clients {
    justify-content: center;
    text-align: center;
    margin-top: 110px;
}

.container-our-clients h3 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;

    color: #181818;
}

.container-our-clients p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;

    color: #363636;
}

.container-coments {
    justify-content: center;
    display: flex;
    margin-top: 39px;
    margin: 0px 9px;
}

.cometns-one {
    height: 428px;
    width: 376px;
    margin-right: 54px;
}

.cometns-two {
    height: 428px;
    width: 376px;
    margin-right: 54px;
}


.name-coments {
    display: flex
}

.text-coments {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    padding-left: 20px;

    color: #959595;
}

.name-coments p {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    color: #181818;
}

.name-coments img {
    margin: 0;
    margin-right: 20px;
    margin-bottom: 22px;
    padding-left: 20px;
    
}

.img-coments {
    margin-left: -15px;
    margin-top: 40px;
}


.acht {
    display: flex;
    justify-content: center;
    margin-top: -400px;

}
.question {
    width: 883px;
    height: 445px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pacht {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 34px;
    margin-bottom: 0px;
}
.line {
    display: flex;
    flex-direction: row;
}
.for-label {
    width: 231.01px;
    height: 45px;
    margin-top: 45px;
    margin-bottom: 48px;
    margin-right: 29px;
    margin-left: 29px;
    display: grid;
}

.for_label-big {
    width: 231.01px;
    height: 45px;
    margin-top: 45px;
    margin-bottom: 48px;
    margin-right: 29px;
    margin-left: 29px;
    display: grid;
}

.for_label {
    display: flex;
    flex-direction: column;
    width: 516.82px;
    height: 45px;
    margin-bottom: 46px;
    display: inline-table;
}
label[for="question"] {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    display: inline-table;
    color: rgba(255, 255, 255, 0.5);
}
#question {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background-color: #181818;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}
label[for="question-big"] {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
#question-big {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background-color: #181818;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    width: 516px; 
}
.soglasie_neun {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.galochka {
    cursor: pointer;
}

.buttonneun {
    background: #E3B873;
    height: 51px;
    width: 200px;
    border-radius: 0px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    padding: 14px 54px;

    color: #FFFFFF;

    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
}

.zweipacht {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
    margin: 0;
}
.buttonneun {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #E3B873;
    width: 200px;
    height: 51px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border: 1px;
    cursor: pointer;
}




.map-rostov {
    background-image: url(../img/image\ 7.2.jpg);
    background-size: cover;
    height: 953.8981323242188px;
    position: relative;
    z-index: -2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -230px;
}

.map-overly {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(24, 24, 24, 0.9);
    height: 953.9px;
    z-index: -1;
}

.container-map-rostov {
    justify-content: center;
    text-align: center;
    margin-top: -239px;
}



.container-map-rostov h3 {
    margin-top: 52px;
}

.container-map-rostov img {
    margin-left: 15px;
}

.img-map {
    text-align: center;
    margin-top: 43px;
}

.fix-map {
    margin-bottom: -453px;
}

.footer {
    background: #181818;
}


.mobile-first-checkbox {
    display: none;
}

.mobile-relize {
    display: none;
}

.fix-momile {
    display: none;
}


.TYPES-OF-REPAIR-MOBILE {
    display: none;
}

.strelki {
    display: none;
}

.fix-ipad {
    display: none;
}





@media (max-width: 1300px) {
    .container ul {
        display: none;
    }

    .fix-ipad {
        display: flex;
        margin-top: 125px;
    }

    .navigation-copml {
        display: none;
    }

    .content {
        margin-top: 36px;
        text-align: center;
    }

    .text-compl {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 158.48%;
        /* or 17px */

        text-align: center;

        color: #FFFFFF;
    }


    .first h2 {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 138.6%;
        /* or 30px */

        text-align: center;
        letter-spacing: -0.07em;
        text-transform: uppercase;

        color: #E3B873;
    }

    .description-copml-ipad {
        text-align: left;
        margin-top: 42px;
        display: flex;
        grid-template-columns: 190px 190px;
        grid-template-rows: 107px 107px;
        column-gap: 2rem;
        width: 321px;
        margin-top: 0;
    }

    .description-copml {
        display: none;
    } 

    .description-copml-ipad h3 {
        font-size: 21px;
    }

    .text-compl {
        font-size: 17px;
    }

    .mobile-img {
        background-image: url(../img/image\ 2.jpg);
        z-index: 12;
        height: 241.3549346923828px;
        width: 340px;
        margin-right: 80px;

    }
    
    .strelki {
        display: flex;
        justify-content: space-between;
        padding-top: 103px;
    }

    .left {
        padding-left: 13px;
    }

    .right {
        padding-right: 13px;
    }

    .vector {
        display: none;
    }

    .cntainer-completed {
        display: flex;
    }

    .line-control_fix {
        margin-top: -400px;
    }

    .video {
        background-image: url(../img/image\ 6.jpg);
        height: 390px;
        width: 740px;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 0;
        display: block;
        margin-top: 31px; 
    }

    .video-overly {
        height: 390px;
        width: 740px;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        margin: 0;
    }

    .video-buttton {
        background: #E3B873;
        border-radius: 50%;
        border: 5px solid transparent;
        width: 85px;
        height: 85px;
        font-size: 33px;
        position: absolute;
        z-index: 3;
        left: 325px;
        top: 157px;
        color: #FFFFFF;
        cursor: pointer;
    }

    .conten-TYPES-OF-REPAIR-left {
        background-image: url(../img/image\ 6.1.jpg);
        height: 645px;
        width: 703px;
        margin-top: 152px;
        display: none;
    }


    .TYPES-OF-REPAIR-MOBILE {
        display: block;
        text-align: center;
    }



    .TYPES-OF-REPAIR {
        display: none;
    }

    .cotolog-mobile {
        margin-top: 40px;
    }

    .dis-img {
        height: 365.1530456542969px;
        width: 340px;
        margin: auto;
        margin-bottom: 265px;
    }

    .dis-img ul {
        background-color: white;
        height: 241px;
        width: 270px;
        margin-top: -140px;
        position: sticky;
        background: #FFFFFF;
        box-shadow: 5px 10px 20px rgb(0 0 0 / 5%);
        margin-bottom: -5px;
    }

    .m2-types-of-repait-one {
        background: #E3B873;
        box-shadow: 0px 5px 15px rgb(227 184 115 / 20%);
        border-radius: 2px;
        border: 0;
        padding: 11px 19px;
        text-transform: uppercase;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
        height: 40px;
        width: 190.42567443847656px;
        border-radius: 0px;
        position: sticky;
        margin-top: -35px;
        margin-right: 146px;
    }

    .TYPES-OF-REPAIR-MOBILE h2 {
        margin-top: 66px;
    }


    .container-our-clients h3 {
        margin-top: 40px;
        font-size: 30px;
    }

    .our-clients {
        padding-top: 7px;
    }

    .container-coments {
        justify-content: center;
        display: grid;
        margin-top: 39px;
        margin: 0px 9px;
        margin-bottom: 502px;
    }

    .cometns-one {
        margin-bottom: 100px;
    }

    .cometns-two {
        margin-bottom: 100px;
    }

    .cometns-thre {
        margin-bottom: 100px;
    }

    .name-coments p {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 23px;
        color: #181818;
    }

    .text-coments {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 199%;
        padding-left: 20px;
        color: #959595;
    }

    .img-map img {
        width: 650px;
    }

}



@media (max-width: 768px)  {

    body {
        margin: 0 auto;
        box-sizing: border-box;
    }

    .container {
        max-width: 100%; 
    }

    .container nav {
        display: none;
    }

    .container button {
        display: none;
    }

    .header-number a {
        text-decoration: none;
        color: white;
    }

    

    .hero {
        min-height: 476px;
        width: 100%;
        padding-top: 85px;
        display: flex;
        justify-content: center;
    }
    
    .napolnenie {
        display: flex;
        max-width: 339px;
    }

    .hero-container {
        height: 60px;
        width: 339px;
        margin-left: 0;
    }

    .title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    height: 60px;
    width: 339px;
    text-transform: uppercase;

    color: #FFFFFF;
    }

    .font1 {
        margin-top: 60px;
        height: 94px;
        width: 339px;
        line-height: 135.84%;

    }

    .button {
        height: 51px;
        width: 338.607421875px;
        margin-bottom: 26px;
    }

    .button_ {
        margin-left: 0;
        height: 51px;
        width: 338.607421875px;
    }

    .button-group {
        display: block;
        margin-top: 100px;
    }



    .navigation-copml {
        display: none;
    }

    .fix-ipad {
        display: inline-block;
        margin-top: 125px;
        margin: 0 auto;
        width: 340px;
    }

    .content {
        margin-top: 36px;
        text-align: center;
    }

    .text-compl {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 158.48%;
        /* or 17px */

        text-align: center;

        color: #FFFFFF;
    }


    .first h2 {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 138.6%;
        /* or 30px */

        text-align: center;
        letter-spacing: -0.07em;
        text-transform: uppercase;

        color: #E3B873;
    }

    .description-copml {
        text-align: left;
    }

    .mobile-img {
        background-image: url(../img/image\ 2.jpg);
        z-index: 12;
        height: 241.3549346923828px;
        width: 340px;

    }
    
    .strelki {
        display: flex;
        justify-content: space-between;
        padding-top: 103px;
    }

    .left {
        padding-left: 13px;
    }

    .right {
        padding-right: 13px;
    }

    .vector {
        display: none;
    }


    .video {
        height: 207px;
        width: 340px;
    }

    .video-overly {
        height: 207px;
        width: 340px;
    }

    .video-buttton {
        height: 37px;
        width: 37px;
        font-size: 17px;
        left: 150px;
        top: 80px;
    }

    .titli-svg {
        margin-top: -800px;
    }

    .V-control {
        margin-top: 28px;
    }

    .line-control_fix p {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 169.8%;
        /* or 19px */
        
        text-align: center;
        
        color: #FFFFFF;
    }

    .form {
        display: block;
        margin-top: 51px;
        margin-bottom: 0;
    }

    .sig-in [for=info] {
        display: grid;
        margin-right: 300px;
    }

    .margin-sig-in {
        margin-right: 0;
        margin-left: 0;
    }

    .container-from {
        display: inline-grid;
        max-height: 310px;
    }

    .sig-in {
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        background-color: #131313;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        color: #FFFFFF;
        width: 340px;
        margin-bottom: 48px;
    
    }

    #input {
        background-color: #131313;
        border: none;
        border-bottom: 1px solid rgba(54, 54, 54, 0.3);
        width: 231px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        color: #363636;
        margin-right: 105px;
    }

    .first-checkbox {
        display: none;
    }

    .mobile-first-checkbox {
        height: 16.23828125px;
        width: 259px;
        display: block;
    }

    .Completed {
        height: 1489px;
    }







    .TYPES-OF-REPAIR {
        display: none;

    }

    .TYPES-OF-REPAIR-MOBILE {
        display: block;
        text-align: center;
    }

    .TYPES-OF-REPAIR-MOBILE h2 {
            color: #131313;
            margin-top: 58px;
    }


    .cotolog-mobile {
        margin-top: 40px;
    }



    .dis-img  {
        height: 365.1530456542969px;
        width: 340px;
        margin: auto;
        margin-bottom: 214px;
    }
    .dis-img img {
        height: 365.1530456542969px;
        width: 340px;
    }

    .dis-img ul{
        background-color: white;
        height: 241px;
        width: 270px;
        margin-top: -140px;
        position: sticky;
        background: #FFFFFF;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
        margin-bottom: -5px;
    } 
    
    .m2-types-of-repait-one {
        background: #E3B873;
        box-shadow: 0px 5px 15px rgb(227 184 115 / 20%);
        border-radius: 2px;
        border: 0;
        padding: 11px 19px;
        text-transform: uppercase;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
        height: 40px;
        width: 190.42567443847656px;
        border-radius: 0px;
        position: sticky;
        margin-top: -35px;
        margin-right: 146px;
    }

    .ul-types-of-repait p {
        margin-left: -12px;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #363636;
        padding-top: 10px;
        margin-bottom: 0;
    }

    .ul-types-of-repait li {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 27px;
        color: #959595;
    }


    .mobile-relize {
        display: block;
        text-align: -webkit-center;
    }

    .mobile-relize h2 {
        margin-bottom: -75px;
    }

    .relize-img {
        height: 242px;
        width: 340px;
        z-index: 12;
        padding-top: 90px;

    }

    .two-strelki {
        display: flex;
        justify-content: space-between;
        margin-top: -140px;
    }


    #question-big {
        width: 340px;
    }

    .for-label{
        max-width: 340px;
        margin-right: 0;
        margin-left: 0;
    }

    .for-lable-one {
        margin-bottom: 0;
    }


    .footer-mobile {
        height: 1189px;
        background-color: #131313;
        margin-top: -30px;
        padding-top: 170px;
    }

    .question {
        height: 1px;
        width: 340px;
        display: block;
    }

    label[for="question"] {
        display: -webkit-box;
    }


    .mobile-relize h2 {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 138.6%;
        /* or 30px */

        text-align: center;
        text-transform: uppercase;

        color: #E3B873;

    }

    label[for="question-big"] {
        margin-top: 30px;
        display: -webkit-box;
    }

    .soglasie_neun {
        margin-top: 70px;
    }

    .buttonneun {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 27px;
        text-align: center;
        text-transform: uppercase;
        height: 51px;
        width: 340px;

        color: #FFFFFF;
    }

    #question {
        width: 340px;
    }

    .map-mobile {
        margin-top: -370px;

    }


    .line {
        display: grid;
    }

    .for_label {
        width: 340px;
    }

    .contackt {
        margin-top: 92px;
        padding-top: 26px;
        height: 100px;
        background-color: #131313;
    }

    .contackt img {
        height: 39px;
        width: 39px;

    }


    .TYPES-OF-REPAIR {
        width: 340px;
        margin: 0 auto;
    }


    .h2-relize {
        margin-top: 0px;
    }



    .content {
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }


    .relize {
        display: none;
    }

    .our-clients {
        display: none;
    }

    .acht {
        display: none;
    }

    .map-rostov {
        display: none;
    }

    .footer {
        display: none;
    }

    .soglasie_neun {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 23px;
    }



}